.feedback {
  min-height: 1.6em;
  margin-block-start: var(--space-5);
  font-weight: 700;
}

.feedback p {
  margin-block: 0;
}

.success {
  color: var(--colour-success);
}

.error {
  margin-block: var(--space-5) 0;
  color: var(--colour-error);
  font-weight: 700;
}
